<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>673334063908-9c2f2a75ol21nk9g9ufnudhqto7vis7r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.673334063908-9c2f2a75ol21nk9g9ufnudhqto7vis7r</string>
	<key>API_KEY</key>
	<string>AIzaSyAiFDPkRE7tmZFMSknXatdZecePMIQS1eM</string>
	<key>GCM_SENDER_ID</key>
	<string>673334063908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movieSearchApp</string>
	<key>PROJECT_ID</key>
	<string>movie-search-app-bc014</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-search-app-bc014.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:673334063908:ios:6104c06b79cb2beccdf9b1</string>
</dict>
</plist>